/* html reset*/
.nav,
.nav ul,
.nav li,
.nav a,
.nav div,
.nav form,
.nav input{
	padding: 0;
	margin: 0;
}
.nav {
    cursor: default;
    display: inline-block;
    position: relative;
    z-index: 500;
}
/* fixing nav link*/
.nav a{
	text-decoration: none;
}

/* nev menu */
.nav li{
    list-style:none ;
}
/*menu list*/
.nav>li{
    float: left;
}
.nav > li > a{
    background: #372f2b;
    color: #fff;
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    line-height: 54px;
    padding: 0 20px;
    position: relative;
    text-shadow: 0 0 1px rgba(0, 0, 0, .35);
    z-index: 510;
}

.nav >li>a:focus,
.nav > li:hover>a{
    background: #4b4441;
}

.nav >li:first-child>a{
    border-left: none;
    border-radius: 3px 0 0 3px;
}
/* search form  */
.nav-search input[type='text']{
    background: #372f2b;
    color: #999;
    display:block;
    float: left;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 0;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
    width: 0;
    transition: all .3s ease 1s;
}

.nav-search input[type='text']:focus,
.nav-search:hover input[type='text']{
    background: #4b4441;
}
